.cart{
    display: flex;
    text-align: center;
    position: relative;

}
.cart img{
    margin: 10px;
    width: 25%;
    height: 90px;
    border-radius: 20px;
}
.cart h4{
    color: green;
    padding: 20px;
}