.meal-container{
    display: flex;
    justify-content: space-around;
}
.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.cart-container{
    width: 100%;
    padding: 10px;
    margin: 4px 10px;
    background-color: rgb(240, 174, 52);
    border: 1px solid rgb(240, 174, 52);
    border-radius: 5px;
}
.cart-container h3{
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}
.cart-items{
    margin-top: 10px;
    position: sticky;
    top: 0;
}