.item img{
    height: 200px;
    width: 300px;
}
.item{
    background-color: rgb(42, 236, 220);
    border: 1px solid rgb(124, 233, 233);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.item-info{
    color: rgba(0, 0, 0, 0.74);
}
.item-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 81, 0, 0.932);
    width:100%;
    border: none;
}
.item-btn p{
    margin: 10px 10px;
}
.item-btn:hover{
    color: red;
    background-color:greenyellow;
}