.item img{
    height: 200px;
    width: 300px;
}
.item{
    background-color: rgb(113, 236, 42);
    border: 1px solid rgb(149, 168, 202);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.item-info{
    background-color: rgb(128, 230, 55);
    color: indigo;
}
.item-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(36, 78, 8);
    width:100%;
}
.item-btn p{
    margin: 10px 10px;
}